body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(187, 128, 255);
  font-size: 30px;
  font-family: calibri;
  box-sizing: border-box;
}

#start {
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  font-size: 300%;
  cursor: pointer;
}

#quiz {
  width: 1000px;
  max-width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 10px;
}

#question {
  display: flex;
  justify-content: center;
  align-items: center;
}

#choices {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 100%;
  gap: 10px;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.choice {
  display: inline-block;
  width: 400px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  background-color: blueviolet;
}
.choice:hover {
  border: 1px solid rgb(15, 15, 15);
  background-color: purple;
  color: white;
}

#scoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.process {
  width: 400px;
  height: 20px;
  border: 1px solid black;
  background-color: green;
}
