<!DOCTYPE html>
<html>
<head>
  <title>Quiz App</title>
  <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-purple-400 min-h-screen flex flex-col text-center"> 
  <nav class="bg-white p-4 flex justify-between items-center shadow-md mb-6">
        <span>
            <div class=" text-2xl font-semibold">QUIZ APP</div>
        </span>
        <div class="mx-5 font-semibold flex flex-row gap-4">
            <div class="bg-purple-400 px-3 py-1 rounded hover:bg-purple-500 transition">
                <a href="./play/play.html">Play Quiz</a>
            </div>
            <div class="bg-purple-400 px-3 py-1 rounded hover:bg-purple-500 transition">
                <a href="./edit/edit.html">Edit Quiz</a>
            </div>
  </nav>
  <main class="my-auto">
    <img src="../img/image.png"class="w-1/2 mx-auto  rounded-lg shadow-lg">
   </main>
</body>
</html>
